
.intro
{
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 160px;
align-items: center;
position: absolute;
top: 20px;
left: 20px;
}
.hmt
{
display: flex;
flex-direction: row;
gap: 60px;
}
.ftt
{
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
font-weight: bold;
}
.tuckk
{
    color:  #FF9F0D;
}
.hom
{
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 15px;
width: 40px;
position: relative;
cursor: pointer;
}
.hos
{
color: #FF9F0D;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 15px;
width: 40px;

}
.iii
{
    display: flex;
    flex-direction: row;
    gap:5px ;
}
.chery
{
    width: 100%;
    position:relative ;
}
.omm
{
    position: absolute;
    left: 540px;
    top: 110px;
}
.men
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 33px;
}
.hom:after
{
content: "";    
background-color: #FF9F0D;
width:10px;
height: 10px;
border-radius: 50%;
position: absolute;
left:13px ;
bottom: -10px;
transform: scale(0);
}
.hom:hover:after
{
transform: scale(1);
transition: ease-out 0.3s;
}
@media only screen and (max-width: 767px)
{
.hmt
{
    display: flex;
    flex-direction: row;
    gap: 25px;    
    margin-left: 30px;
}
.hom
{
color: white;
font-size: 10px;
width: 14px;
cursor: pointer;
}
.hos
{
color: #FF9F0D;
font-size: 10px;
width: 14px;
margin-left:8px;
}
.men
{
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 22px;
 width: 300px;
 margin-left: -435px;
 margin-top: 10px;
} 
.omm
{
    position: absolute;
    left: 555px;
    top: 110px;
}

}
