.Dataimg
{
width: 100px;
}
body
{
    width: 200vh;
    max-width: 100%;
    overflow-x: hidden;
}
.Cartrow
{
display: flex;
flex-direction: row;
justify-content: center;
gap: 250px;
align-items: center;
border-color: #FF9F0D;
border-style: solid;
border-width: 2px;
border-radius: 20px;
width: 900px;
margin-left: 160px;
}
.Cartrows
{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.yourcart
{
color: #FF9F0D;
font-family: "Rouge Script",cursive;
font-size: 28px;
padding-left: 40px;
padding-top: 40px;    
}
.datadesc
{
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color:#333333 ;
width: 200px;
}
.dataprice
{
    color: #FF9F0D;
    font-size: 20px;
}
.datarows
{
display: flex;
flex-direction: column;
gap: 10px;
border: 1px solid #ccc;
border-radius: 2px;
width: 500px;
padding: 20px;
margin-left: 150px;
margin-top: 10px;
}
.datain
{
height: 50px;
width: 200px;
border: 1px solid #ccc;
border-radius: 2px;
padding-right: 0px;
outline: none;
}
.apply
{
    color: white;
    background-color: #FF9F0D;
    padding: 5px;
    border-radius: 2px;
    border: none;
}
.inandbut
{
display: flex;
flex-direction: row;
gap: 0px;
}
.datadesc2
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#333333 ;
    margin-left: 150px;
    margin-top: 130px;    
}
.dataone
{
display: flex;
flex-direction: row;
gap: 120px;
}
.sixdata
{
display: flex;
flex-direction: column;
align-items: start;
gap: 30px;
border: 1px solid #ccc;
border-radius: 2px;
padding: 10px;
}
.alldata
{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 5px;
    gap: 10px;
}
.datadesc3
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#333333 ;
    margin-top: 130px;    
}
.inrowdata
{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: start;
    margin-bottom: 50px;
}
.pac
{
    background-color:#FF9F0D;
    color: white;
    padding: 10px 50px 10px 60px ;
    border: none;
    border: 2px solid #FF9F0D ;
    transition: ease-out 0.3s ;
}
.pac:hover
{
background-color: white;
color: #FF9F0D;
}
@media only screen and (max-width: 767px) {
    .Cartrow
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border-color: #FF9F0D;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    }
    body
    {
        overflow-x: hidden;
    }
    .inrowdata
    {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    margin-bottom: 50px;
    }
    .datarows
    {
   display: flex;
   flex-direction: column;
   gap: 10px;
   border: 1px solid #ccc;
   border-radius: 2px;
   width: 300px;
   padding: 20px;
   margin-left: 10px;
    margin-top: 10px;
  }
  .alldata
   {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: start;
    margin-top: 5px;
    gap: 5px;
   }
   .datadesc2
   {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#333333 ;
    margin-left: 20px;
    margin-top: 130px;    
   }
}