body
{
    background-color: black;
}
.grid
{
display: grid;
grid-template-columns: auto auto;
column-gap: 10px;
margin-top: 100px;
align-items: center;
}
.desc1
{
display: flex;
flex-direction: column;
margin-right: 100px;
row-gap: 10px;
margin-left: 20px;
}
.firstimg
{
display: inline;
width:600px ;
height:200px;
margin-bottom: 10px;
margin-left: 100px;
}
.two
{
display: flex;
flex-direction: row;
}
.thirdimg
{
width: 300px;
height: 150px;
margin-left: 10px;
}
.secondimg
{
    width: 300px;
    height: 150px;
    margin-left: 100px;
}
.about
{
    font-family: "Rouge Script",cursive;
    color: #FF9F0D;
    font-size: 32px;
    width: 280px;
    margin-bottom: -5px;
}
.create
{
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 40px;
width: 400px;
color: white;
}
.wee
{
color: #FF9F0D;
}
.text
{
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
width: 450px;
margin-top: -5px;
}
.images
{
margin-top: 50px;
}
.read
{
width: 190px;
height: 60px;
border-radius: 30px;
background-color: #FF9F0D;
color: white;
border: none;
transition: ease-out 0.3s;
}
.read:hover
{
color: #FF9F0D;
background-color: white;
}
.quality
{
font-family: "Rouge Script",cursive ;
display: flex;
justify-content: center;
color: #FF9F0D;
font-size: 22px;
margin-top: 50px;
}
.choose
{
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
color: white;
font-weight: bold;
font-size: 36px;
margin-top: 30px;
}
.ch
{
    color: #FF9F0D;
}
.four
{
display: flex;
flex-direction: row;
justify-content: center;
}
.foods
{
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-left: 60px;
}
@media only screen and (max-width: 767px) {
    .text
    {   
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        width: 250px;
        margin-top: -5px;   
      }
      .four
      {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        margin-right: 50px;       
      }
      .create
     {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-size: 20px;
     width: 300px;
     color: white;
      }
      .images
      {
        display: none;
      }
      html , body
      {
        overflow-x: hidden;
        max-width: 500px;
      }
      .choose
{
       font-family: Arial, Helvetica, sans-serif;
       display: flex;
       justify-content: center;
       color: white;
       font-weight: bold;
       font-size: 36px;
       margin-top: 30px;
       margin-left: 50px;
      }
      .read
    {
     width: 130px;
     height: 30px;
     border-radius: 30px;
     background-color: #FF9F0D;
     color: white;
     border: none;
     transition: ease-out 0.3s;
    }
}